@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 800;
}

p {
    margin-bottom: 0px;
}

.illustrationSize {
    max-width: 700px;
}

.darkBlue {
    color: hsl(243, 87%, 12%);
}

.lightBlue {
    color: hsl(238, 22%, 44%)
}


.section1Buffer {
    margin-top: 80px;
}

.buffer2 {
    margin-top: 100px;    
}



.buffer3 {
    margin-top: 60px;
}

.section2Background {
    background-color: hsl(240, 75%, 98%);
}

#arrowIcon {
    width: 25px;
    height: 25px;
}

#textWithArrow {
    margin-bottom: 7px;
    margin-right: 10px;
}



hr {
    border: 0;
    clear:both;
    display:block;
    width: 47%;               
    background-color:hsl(170, 45%, 43%);
    height: 1px;
    margin-top: 0;
    margin-bottom: 50px;
  }

.quoteCard {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.iconQuotes {
    width: 30px;
    height: 30px;
}

.avatar-testimonial {
    height: 40px;
    width: 40px;
}

.kyleText {
    font-size: 0.8em;
    margin-bottom: 0px;
    color: darkBlue;
    font-weight: bold;
}

.kyleTitle {
font-size: 0.5em;
margin-bottom: 0px;
}

.lightPurbleBg {
    background-color: hsl(238, 22%, 44%);
    color: white;
}

footer {
background-color: hsl(243, 87%, 12%);
color: white;
}

.cyanLink {
    color: hsl(170, 45%, 43%);
}

.footerLogo {
    filter: brightness(0) invert(1);
}

.whiteText {
    color: white;
}




@media screen and (min-width: 768px) {
        .quoteCard {
            width: 400px;
        }
        .form-btn-size {
            min-width: 400px;  
        }
        .getEarly {
            max-width: 450px;
        }
        .btnSizeSmall {
            width: 250px;
        }
        section, footer {
            
        }
        
}


@media screen and (min-width: 1200px) {

}